<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
	<tr>
		<th class="tg-yw4l">Service Name</th>
		<th class="tg-yw4l">{{service.0}}</th>
	</tr>
	<tr>
		<td class="tg-yw4l">Agency</td>
		<td class="tg-yw4l">{{service.3}}</td>
	</tr>
	<tr>
		<td class="tg-yw4l">Street</td>
		<td class="tg-yw4l">{{service.4}}</td>
	</tr>
	<tr>
		<td class="tg-yw4l">City</td>
		<td class="tg-yw4l">{{service.5}}</td>
	</tr>
	<tr>
		<td class="tg-yw4l">State</td>
		<td class="tg-yw4l">{{service.6}}</td>
	</tr>
	<tr>
		<td class="tg-yw4l">Zipcode</td>
		<td class="tg-yw4l">{{service.7}}</td>
	</tr>
	<tr>
		<td class="tg-yw4l">Country</td>
		<td class="tg-yw4l">{{service.8}}</td>
	</tr>
	<tr>
		<td class="tg-yw4l">URL</td>
		<td class="tg-yw4l">{{service.9}}</td>
	</tr>
	<tr>
		<td class="tg-yw4l">Contact phone</td>
		<td class="tg-yw4l">{{service.10}}</td>
	</tr>
	<tr>
		<td class="tg-yw4l">Contact name</td>
		<td class="tg-yw4l">{{service.11}}</td>
	</tr>
	<tr>
		<td class="tg-yw4l">Contact email</td>
		<td class="tg-yw4l">{{service.12}}</td>
	</tr>
	<tr>
		<td class="tg-yw4l">Contact address</td>
		<td class="tg-yw4l">{{service.13}}</td>
	</tr>
</table>
